node_modules
dist
dist-ssr
*.local

# Environment
.env
.env.local
.env.*.local

# Firebase
.firebase
firebase-debug.log
.firebaserc

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.tsbuildinfo
